<!DOCTYPE html>
<html>
<head>
    <title>Laporan Piutang PT. Blesindo Farma</title>
</head>
<body>
    <center>
        <table style='font-family:calibri; border-collapse: collapse; margin-bottom: 20px' border = '0' >
            <td align='center' style='vertical-align:top'>  
                <span style='font-size:24pt'><b>LAPORAN PIUTANG PT. BLESSINDO FARMA</b></span>
                </br><span style='font-size:12pt'>Periode .....</span>
                </br><span style='font-size:12pt'>Per-Tanggal ......</span>  
            </td>
        </table>
        <table cellspacing='0' style='width:60%; font-size:10pt; font-family:calibri;  border-collapse: collapse; margin-top: 20px;' border="1">
            <thead>
                <tr>
                    <th style="font-weight: bold;">Tanggal</th>
                    <th style="font-weight: bold;">Jatuh Tempo</th>
                    <th style="font-weight: bold;">No Faktur</th>
                    <th style="font-weight: bold;">Sales</th>
                    <th style="font-weight: bold;">Pelanggan</th>
                    <th style="font-weight: bold;">Debet</th>
                    <th style="font-weight: bold;">Kredit</th>
                    <th style="font-weight: bold;">Saldo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2019-07-19</td>
                    <td>2019-10-19</td>
                    <td>1ecfb3b22c098a26</td>
                    <td>Dewi</td>
                    <td>Apetek Abc</td>
                    <td align="right">Rp. xxx</td>
                    <td align="right">Rp. xxx</td>
                    <td align="right">Rp. xxx</td>
                </tr>
                <!-- <tr v-if="!haveData"><td colspan="12" align="center"><i>* Tidak ada data transaksi untuk periode tersebut *</i></td></tr> -->
                <tr v-if="haveData" style="font-weight:bold;">
                  <td colspan="5">Grand Total</td> 
                  <td align="right">Rp. xxx</td>
                  <td align="right">Rp. xxx</td>
                  <td align="right">Rp. xxx</td>
                </tr>
            </tbody>
        </table>
        <table align="right" cellspacing='0' style='width:60%; font-size:10pt; font-family:calibri;  border-collapse: collapse; margin-top: 20px;' border="0">
            <tr >
                <td style='padding-right:30px; text-align: center;'>Surabaya, 15 Oktober 2019</td>
            </tr>
            <tr >
                <td style='padding-bottom: 65px; padding-right:30px; text-align: center;'>PT. BLESSINDO FARMA</td>
            </tr>
            <tr>
                <td style="text-decoration: underline; padding-right:30px; text-align: center;">Yuliani Lemantara, Ssi, Apt.</td>
            </tr>
            <tr>
                <td style='padding-right:30px; text-align: center;'>19760310/SIKA-35.78/2016/2219</td>
            </tr>
        </table>
    </center>
</body>
</html>
