<!DOCTYPE html>
<html>
<head>
    <title>Laporan Retur Sample dan Sample PT. Blesindo Farma</title>
</head>
<body>
    <center>
        <table style='font-family:calibri; border-collapse: collapse; margin-bottom: 20px' border = '0' >
            <td align='center' style='vertical-align:top'>  
                <span style='font-size:24pt'><b>REKAP EXPIRED (RETUR) dan SAMPLE OKTOBER 2019</b></span>
                <br /><span style='font-size:24pt'><b>UNTUK DIGANTI DENGAN CENDO XETROL TETES MATA 5ML</b></span> 
            </td>
        </table>
        <table cellspacing='0' style='width:60%; font-size:10pt; font-family:calibri;  border-collapse: collapse; margin-top: 20px;' border="1">
            <thead>
                <tr>
                    <th style="font-weight: bold;">No</th>
                    <th style="font-weight: bold;">Nama Obat</th>
                    <th style="font-weight: bold;">Exp Date</th>
                    <th style="font-weight: bold;">Kode Produksi</th>
                    <th style="font-weight: bold;">Sample</th>
                    <th style="font-weight: bold;">Total</th>
                    <th style="font-weight: bold;">Harga Satuan</th>
                    <th style="font-weight: bold;">Jumlah Uang</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Natacen</td>
                    <td>1</td>
                    <td>001</td>
                    <td>2</td>
                    <td>3</td>
                    <td align="right">Rp. xxx</td>
                    <td align="right">Rp. xxx</td>
                </tr>
                <!-- <tr v-if="!haveData"><td colspan="12" align="center"><i>* Tidak ada data transaksi untuk periode tersebut *</i></td></tr> -->
                <tr style="font-weight:bold;">
                  <td colspan="7">Grand Total</td> 
                  <td align="right">Rp. xxx</td>
                </tr>
                <tr style="font-weight:bold;">
                  <td colspan="7">Harga Satuan Cendo Xetrol 5ml</td> 
                  <td align="right">Rp. xxx</td>
                </tr>
                <tr style="font-weight:bold;">
                  <td colspan="7">Jumlah Cendo Xetrol Sebagai Pengganti</td> 
                  <td align="right"> 50 botol(satuan: misal botol)</td>
                </tr>
            </tbody>
        </table>
        <table align="right" cellspacing='0' style='width:60%; font-size:10pt; font-family:calibri;  border-collapse: collapse; margin-top: 20px;' border="0">
            <tr >
                <td style='padding-right:30px; text-align: center;'>Surabaya, 15 Oktober 2019</td>
            </tr>
            <tr >
                <td style='padding-bottom: 65px; padding-right:30px; text-align: center;'>PT. BLESSINDO FARMA</td>
            </tr>
            <tr>
                <td style="text-decoration: underline; padding-right:30px; text-align: center;">Yuliani Lemantara, Ssi, Apt.</td>
            </tr>
            <tr>
                <td style='padding-right:30px; text-align: center;'>19760310/SIKA-35.78/2016/2219</td>
            </tr>
        </table>
    </center>
</body>
</html>
