<!DOCTYPE html>
<html>
<head>
    <title>Laporan Pembelian PT. Blesindo Farma</title>
</head>
<body>
    <center>
        <table style='font-family:calibri; border-collapse: collapse; margin-bottom: 20px' border = '0' >
            <td align='center' style='vertical-align:top'>  
                <span style='font-size:24pt'><b>LAPORAN TRANSAKSI PEMBELIAN PT. BLESSINDO FARMA</b></span>
                </br><span style='font-size:12pt'>Periode .....</span>
                </br><span style='font-size:12pt'>Per-Tanggal ......</span>  
            </td>
        </table>
        <table cellspacing='0' style='width:60%; font-size:10pt; font-family:calibri;  border-collapse: collapse; margin-top: 20px;' border="1">
            <thead>
                <tr>
                    <th style="font-weight: bold;">Tanggal</th>
                    <th style="font-weight: bold;">Jatuh Tempo</th>
                    <th style="font-weight: bold;">No Faktur</th>
                    <th style="font-weight: bold;">Suplier</th>
                    <th style="font-weight: bold;">Status</th>
                    <th style="font-weight: bold;">Metode Pembayaran</th>
                    <th width="20%" style="font-weight: bold;">Obat</th>
                    <th style="font-weight: bold;">Subtotal</th>
                    <th style="font-weight: bold;">Diskon</th>
                    <th style="font-weight: bold;">Pajak</th>
                    <th style="font-weight: bold;">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2019-07-19</td>
                    <td>2019-10-19</td>
                    <td>1ecfb3b22c098a26</td>
                    <td>PT. ABC</td>
                    <td>Lunas</td>
                    <td>Tunai</td>
                    <td style="text-align: left;">
                      <ul>
                        <li>(kode produksi)omega am1 qty x harga satuan x diskonitem%=200.000</li>
                        <li>titan 10 x 20.000 x 0%=200.000</li>
                      </ul>
                    </td>
                    <td align="right">Rp. 400.000</td>
                    <td align="right">10%</td>
                    <td align="right">10%</td>
                    <td align="right">Rp. 420.000</td>
                </tr>
                <!-- <tr v-if="!haveData"><td colspan="12" align="center"><i>* Tidak ada data transaksi untuk periode tersebut *</i></td></tr> -->
                <tr v-if="haveData" style="font-weight:bold;">
                  <td colspan="10">Grand Total</td> 
                  <td align="right">Rp. 420.000</td>
                </tr>
            </tbody>
        </table>
        <table align="right" cellspacing='0' style='width:60%; font-size:10pt; font-family:calibri;  border-collapse: collapse; margin-top: 20px;' border="0">
            <tr >
                <td style='padding-right:30px; text-align: center;'>Surabaya, 15 Oktober 2019</td>
            </tr>
            <tr >
                <td style='padding-bottom: 65px; padding-right:30px; text-align: center;'>PT. BLESSINDO FARMA</td>
            </tr>
            <tr>
                <td style="text-decoration: underline; padding-right:30px; text-align: center;">Yuliani Lemantara, Ssi, Apt.</td>
            </tr>
            <tr>
                <td style='padding-right:30px; text-align: center;'>19760310/SIKA-35.78/2016/2219</td>
            </tr>
        </table>
    </center>
</body>
</html>